.box-shadow{
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.cate-card{
    transition: .3s;
    cursor: pointer;
}
.cate-card:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: rgba(0,0,0,.5);
}

.b-cate-card{
    transition: .3s;
    cursor: pointer;
}
.b-cate-card:hover{
    background-color: red;
    color: white;
    opacity: .8;
}
.will-change-transform {
    will-change: transform;
  }

.cursor-effect::after {
    display: block;
    content: '';
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #4F4F4F;
    animation: cursor-anime 0.6s linear infinite alternate;
    will-change: opacity;
  }
  @keyframes cursor-anime {
    0%,
    40% {
      opacity: 1;
    }
  
    60%,
    100% {
      opacity: 0;
    }
  }
  .cus-btn{
    color: white;
    background-color: #56616a;
  }
  .cus-btn:hover{
    background-color: white;
    color: #56616a;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }