.cus-card{
    cursor: pointer;
    transition: .3s;
}
.cus-card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-color: white;
    color: #5D735C;
}
.footer-btn{
    background-color: #5D735C;
    color: white;
    border-radius: 30px;
    transition: .3s;
}
.footer-btn:hover{
    background-color: white;
    color: #5D735C;
}