.card{
    cursor: pointer;
    transition: .5s;
}
.card:hover{
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #8AB789;
    color: white
}
.footer-btn{
    background-color: #5D735C;
    color: white;
    border-radius: 30px;
    transition: .3s;
}
.footer-btn:hover{
    background-color: white;
    color: #5D735C;
}